pyomo
condacolab
glpk
pandas
pydantic
requests
elexon
gurobipy
powerplantmatching
hvplot
geoviews
tqdm
seaborn
plotly
imageio
xarray
libproj-dev
proj-bin
proj-data
libgeos-dev
shapely
geopandas
fiona
cartopy
scikeras
siphon
wget
haversine
matplotx
basemap
basemap-data
basemap-data-hires
kaleido
Proj
GEOS
libpysal
contextily
captum
orjson
cpflows
pypsa
pandapower
pypower
rq
atlite
solve
adjustText
snakemake
pgeocode
wandb
chaospy
vresutils
SALib
idaes
ipopt
grid2viz
xarray